<h1>Dice Roll</h1>

<form action="/process_roll">
  <div><label for="alice">Number of dice to roll?</label></div>
  <input id="alice" type="text" name="dice">

  <div><label for="bob">How many sides per die?</label></div>
  <input id="bob" type="text" name="sides">

  <button>Roll!</button>

</form>
